header {
  background-image: url(https://images.unsplash.com/photo-1762304608351-84ae7b48fe5e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=772);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  gap: 20px;
}

main {
  background-color: ivory;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}