header {
  background-image: url(https://images.unsplash.com/photo-1762304608351-84ae7b48fe5e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=772);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  gap: 20px;
}

main, .Litt-informasjon-om-meg-selv  {
  height: 1000px;
  background-color: wheat;
   display: flex; 
   align-items: flex-start;
   justify-content: space-between;
   padding: 40px;
   max-width: 1000px;
   gap: 150px;
   margin: 0 auto;
  }

  .text {
    flex: 1;
    margin-right: 40px;
  }

  .picture {
    width: 200px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }