header {
  background-image: url(https://images.unsplash.com/photo-1762304608351-84ae7b48fe5e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=772);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main {
  background-color: grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}